doctype html
html
  head
    title DancekaBaap
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/IMG/logo.png")
                | DKB
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") class info ]
            li #[a(href="/contact") Contact Us ]

    block content
    footer#footer
            | copyright © 2023 DancekaBaap.com | All Rights Reserved
